<!-- Begin View Wrapper -->
@using AquaMan.Models
@using AquaMan.Services
@inject IFormDataService formHelper

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Welcome to the Aqua Man! <br />
                <small>Your complete tank automation system</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">

            @*@using (Html.BeginForm(nameof(HomeController.Fill), nameof(HomeController).RemoveControllerFromName(), FormMethod.Post))
            {
                <label>Click to Fill</label>
                <br />
                <input type="submit" title="Fill" class="pull-left btn btn-primary" />
            }
            
            <br />

            @using (Html.BeginForm(nameof(HomeController.Drain), nameof(HomeController).RemoveControllerFromName(), FormMethod.Post))
            {
                <label>Click to Drain</label>
                <br />
                <input type="submit" title="Drain" class="pull-left btn btn-primary" />
            }*@

            @if (!formHelper.GetTankSpecs().Initialized)
            {
                <label>Tanks specifications are needed to intitailize the system.</label>
                <br />
                <lable> Please go to the </lable>
                <a asp-controller="Tank" asp-action="TankSpecs">Tank Setup Page</a>
            }
            @if (formHelper.GetFeedingTimes()?.Time1 == null)
            {
                <br />
                <label>At least one feeding time is needed.</label>
                <br />
                <lable> Please go to the </lable>
                <a asp-controller="Feeding" asp-action="FeedingTimes">Feeding Times Setup Page</a>
            }
        </div>
    </div>
</div>
<!-- End View Wrapper -->
