<!-- Begin View Wrapper -->
@using AquaMan.Models
@using AquaMan.Services
@inject IFormDataService formHelper


<script>
    function Feed() {
        $.get("/Home/Feed", function (data) {
            $("p").html(data);
        });
    }
    function ResetI2C() {
        $.get("/Home/ResetI2C", function (data) {
            $("p").html(data);
        });
    }
    
    setInterval(GetWaterHeight, 250);

    function GetWaterHeight() 
	{
        $.get("/Home/GetWaterHeight", function (data) 
		{ 
            var waterPercent = (data / 12) * 100;
            $("#waterHeight").css('width', waterPercent + "%");		
		});
    }

	function TopLevel() {
        $.get("/Home/TopLevel", function (data) {
            $("p").html(data);
        });
    }

    function Calabrate() {
        $.get("/Home/Calabrate", function (data) {
            $("p").html(data);
        });
    }
</script>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Welcome to the Aqua Man! <br />
                <small>Your complete tank automation system</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form>
                <button type="button" onclick="Feed()" value="Feed">Start Feeder</button>
                <br />
                <br />
                <button type="button" onclick="TopLevel()" value="TopLevel">Set Top Water Level</button>
                <br />
                <br />
                <button type="button" onclick="Calabrate()" value="Calabrate">Calabrate Water Sensor</button>
                <br />
                <br />
                <button type="button" onclick="ResetI2C()" value="ResetI2C">Reset Water Sensor</button>
                <br />
                <br />
                <label>Water Level</label>
                <div class="progress">
                    <progressbar id="waterHeight" />
                </div>
                <br />
            </form>
        </div>
    </div>
</div>
<!-- End View Wrapper -->
