<!-- Begin View Wrapper -->
@using AquaMan.Models

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Welcome to the Aqua Man! <br />
                <small>Your complete tank automation system</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
        </div>
    </div>
</div>
<!-- End View Wrapper -->
