<!-- Begin View Wrapper -->
@using AquaMan.Models
@using AquaMan.Services
@inject IFormDataService formHelper


<script>
    function Fill() {
        $.get("/Home/Fill", function (data) {
            $("p").html(data);
        });
    }

    function Drain() {
        $.get("/Home/Drain", function (data) {
            $("p").html(data);
        });
    }

    function V1() {
        $.get("/Home/V1", function (data) {
            $("p").html(data);
        });
    }

    function V2() {
        $.get("/Home/V2", function (data) {
            $("p").html(data);
        });
    }

    function V3() {
        $.get("/Home/V3", function (data) {
            $("p").html(data);
        });
    }

    function V4() {
        $.get("/Home/V4", function (data) {
            $("p").html(data);
        });
    }

    function V5() {
        $.get("/Home/V5", function (data) {
            $("p").html(data);
        });
    }

    function Feed() {
        $.get("/Home/Feed", function (data) {
            $("p").html(data);
        });
    }
    function ResetI2C() {
        $.get("/Home/ResetI2C", function (data) {
            $("p").html(data);
        });
    }
    
    function TopLevel() {
        $.get("/Home/TopLevel", function (data) {
            $("p").html(data);
        });
    }

    function Stop() {
        $.get("/Home/Stop", function (data) {
            $("p").html(data);
        });
    }
    function WaterChange() {
        $.get("/Home/WaterChange", function (data) {
            $("p").html(data);
        });
    }

    setInterval(GetWaterHeight, 250);

    function GetWaterHeight() 
	{
        $.get("/Home/GetWaterHeight", function (data) 
		{ 
            var waterPercent = (data / 12) * 100;
            $("#waterHeight").css('width', waterPercent + "%");
			$("#WaterNum").html(data);
			$("#WaterNumRaw").html(waterPercent);
			
		});
    }
    function Calabrate() {
        $.get("/Home/Calabrate", function (data) {
            $("p").html(data);
        });
    }
</script>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Welcome to the Aqua Man! <br />
                <small>Your complete tank automation system</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form>
                <button type="button" onclick="WaterChange()" value="WaterChange">WaterChange</button>
                <br />
                <br />
                <button type="button" onclick="Fill()" value="Fill">Fill</button>
                <br />
                <br />
                <button type="button" onclick="Drain()" value="Drain">Drain</button>
                <br />
                <br />
                <button type="button" onclick="Stop()" value="Stop">Stop</button>
                <br />
                <br />
                <button type="button" onclick="TopLevel()" value="TopLevel">TopLevel</button>
                <br />
                <br />
                <button type="button" onclick="Feed()" value="Feed">Feed</button>
                <br />
                <br />
                <button type="button" onclick="Calabrate()" value="Calabrate">Calabrate</button>
                <br />
                <br />
                <button type="button" onclick="V1()" value="V1">V1</button>
                <br />
                <br />
                <button type="button" onclick="V2()" value="V2">V2</button>
                <br />
                <br />
                <button type="button" onclick="V3()" value="V3">V3</button>
                <br />
                <br />
                <button type="button" onclick="V4()" value="V4">V4</button>
                <br />
                <br />
                <button type="button" onclick="V5()" value="V5">V5</button>
                <br />
                <br />
                <button type="button" onclick="ResetI2C()" value="ResetI2C">ResetI2C</button>
                <br />
                <p id="WaterNum" />
                <br />
                <p id="WaterNumRaw" />
                <br />
                <div class="progress">
                    <progressbar id="waterHeight" />
                </div>
                <br />
            </form>
            @{
                TankSpecs tankSpecs = formHelper.GetTankSpecs();
                @if (tankSpecs.Depth <= 0 && tankSpecs.Width <= 0 && tankSpecs.Height <= 0)
                {
                    <label>Tanks specifications are needed to intitailize the system.</label>
                    <br />
                    <label> Please go to the </label>
                    <a asp-controller="Tank" asp-action="TankSpecs">Tank Setup Page</a>
                }
                @if (formHelper.GetFeedingTimes()?.Feedings[0] == null)
                {
                    <br />
                    <label>At least one feeding time is needed.</label>
                    <br />
                    <label> Please go to the </label>
                    <a asp-controller="Feeding" asp-action="FeedingTimes">Feeding Times Setup Page</a>
                }
            }
        </div>
    </div>
</div>
<!-- End View Wrapper -->
