<!-- Begin View Wrapper -->
@using AquaMan.Models
@using AquaMan.Services
@inject IFormDataService formHelper


<script>
    function Fill() {
        $.get("/Maintainace/Fill", function (data) {
            $("p").html(data);
        });
    }

    function Drain() {
        $.get("/Maintainace/Drain", function (data) {
            $("p").html(data);
        });
    }

    function V1() {
        $.get("/Maintainace/V1", function (data) {
            $("p").html(data);
        });
    }

    function V2() {
        $.get("/Maintainace/V2", function (data) {
            $("p").html(data);
        });
    }

    function V3() {
        $.get("/Maintainace/V3", function (data) {
            $("p").html(data);
        });
    }

    function V4() {
        $.get("/Maintainace/V4", function (data) {
            $("p").html(data);
        });
    }

    function V5() {
        $.get("/Maintainace/V5", function (data) {
            $("p").html(data);
        });
    }

    function Feed() {
        $.get("/Maintainace/Feed", function (data) {
            $("p").html(data);
        });
    }
    function ResetI2C() {
        $.get("/Maintainace/ResetI2C", function (data) {
            $("p").html(data);
        });
    }
    
    function TopLevel() {
        $.get("/Maintainace/TopLevel", function (data) {
            $("p").html(data);
        });
    }

    function Stop() {
        $.get("/Maintainace/Stop", function (data) {
            $("p").html(data);
        });
    }
    function WaterChange() {
        $.get("/Maintainace/WaterChange", function (data) {
            $("p").html(data);
        });
    }

    setInterval(GetWaterHeight, 250);

    function GetWaterHeight() 
	{
        $.get("/Maintainace/GetWaterHeight", function (data) 
		{ 
            var waterPercent = (data / 12) * 100;
            $("#waterHeight").css('width', waterPercent + "%");
			$("#WaterNum").html(data);
			$("#WaterNumRaw").html(waterPercent);
			
		});
    }
    function Calabrate() {
        $.get("/Maintainace/Calabrate", function (data) {
            $("p").html(data);
        });
    }
</script>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-8">
            <form>
                <button type="button" onclick="WaterChange()" value="WaterChange">Water Change</button>
                <br />
                <br />
                <button type="button" onclick="Fill()" value="Fill">Fill</button>
                <br />
                <br />
                <button type="button" onclick="Drain()" value="Drain">Drain</button>
                <br />
                <br />
                <button type="button" onclick="Stop()" value="Stop">Stop</button>
                <br />
                <br />
                <button type="button" onclick="TopLevel()" value="TopLevel">Set Top Water Level</button>
                <br />
                <br />
                <button type="button" onclick="Feed()" value="Feed">Start Feeder</button>
                <br />
                <br />
                <button type="button" onclick="Calabrate()" value="Calabrate">Calabrate Water Sensor</button>
                <br />
                <br />
                <button type="button" onclick="ResetI2C()" value="ResetI2C">Reset Water Sensor</button>
                <br />
                <br />
                <button type="button" onclick="V1()" value="V1">Toggle Output Valve</button>
                <br />
                <br />
                <button type="button" onclick="V2()" value="V2">Toggle Input Valve</button>
                <br />
                <br />
                <button type="button" onclick="V3()" value="V3">Toggle Fresh Water Valve</button>
                <br />
                <br />
                <button type="button" onclick="V4()" value="V4">Toggle Salt Water Valve</button>
                <br />
                <br />
                <button type="button" onclick="V5()" value="V5">Toggle Drain Water Valve</button>
                <br />
                <p id="WaterNum" />
                <br />
                <p id="WaterNumRaw" />
                <br />
                <div class="progress">
                    <progressbar id="waterHeight" />
                </div>
                <br />
            </form>
        </div>
    </div>
</div>
<!-- End View Wrapper -->
