@using AquaMan.Controllers
@using AquaMan.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aqua Man</title>
    <link asp-href-include="~/css/*.css" rel="stylesheet" />
    <style>
        .button {
            display: inline-block;
            width: 50%;
            padding: 10px 20px;
        }
    </style>
</head>
<body>
    <script>
        setInterval(Time, 1000);

        function Time() {
            $.get("/Layout/GetCurrentTime", function (data) {
                $("#CurrentTime").html(data);
            });
        }
    </script>
    <div id="CurrentTime"></div>
    <div id="wrapper">
        <partial name="_Navigation" />
        @RenderBody()
    </div>
    <script asp-src-include="~/js/*.js"></script>
</body>
</html>
